h1 {
    color: white;
    background-color: #055054;
    text-align: center;

}
body{
    text-align: center;
    font-weight: 100;
    font-size: xx-large;
  
}

.loader {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    top: 100px;
    display: inline-block;
    border-top: 10px solid #74b3ce;
    border-right: 10px solid #508991;
    border-bottom: 10px solid #09BC8A;
    border-left: 10px solid #055054;
    animation: spinAnimation 1s ease-in-out 0s infinite normal;
}

#box1 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: -40px;
    top: 100px;
    display: inline-block;
    border-top: 10px solid #74b3ce;
    border-right: 10px solid #508991;
    border-bottom: 10px solid #09BC8A;
    border-left: 10px solid #055054;
    animation: spinAnimation 1s ease-in-out 0s infinite normal;
}

#box2 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: -80px;
    top: 100px;
    display: inline-block;
    border-top: 10px solid #74b3ce;
    border-right: 10px solid #508991;
    border-bottom: 10px solid #09BC8A;
    border-left: 10px solid #055054;
    animation: spinAnimation 1s ease-in-out 0s infinite normal;
}

#box3 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: -120px;
    top: 100px;
    display: inline-block;
    border-top: 10px solid #74b3ce;
    border-right: 10px solid #508991;
    border-bottom: 10px solid #09BC8A;
    border-left: 10px solid #055054;
    animation: spinAnimation 1s ease-in-out 0s infinite normal;
}

@keyframes spinAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}